@model src.Models.Route

@{
    ViewData["Title"] = "Route Details";
}

<h2>Details</h2>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DriverID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DriverID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Arrival)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Arrival)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direction)
        </dd>
    </dl>
</div>
<div>
    @if(User.IsInRole("Manager") || User.IsInRole("Admin")){
    <a asp-action="Edit" asp-route-id="@Model.RouteID">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
