@model IEnumerable<src.Models.Route>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action="Index"> Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
                </th>
                @if(User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Driver")){
                    <th>
                        @Html.DisplayNameFor(model => model.DriverID)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Departure)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Arrival)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direction)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if(User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Driver")){
                <td>
                    @Html.DisplayFor(modelItem => item.DriverID)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction)
            </td>
            <td>
                @if(User.IsInRole("Manager") || User.IsInRole("Admin")){
                <a asp-action="Edit" asp-route-id="@item.RouteID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.RouteID">Delete</a> |
                }
                <a asp-action="Details" asp-route-id="@item.RouteID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
