@model src.Models.Address

@{
    ViewData["Title"] = "Address Details";
}

<h2>Details</h2>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.county)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.county)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.postCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.postCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.street1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.street1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.street2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.street2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AddressID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
