@model IEnumerable<src.Models.Address>

@{
    ViewData["Title"] = "Adresses";
}

<h2>Adresses</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.county)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.postCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.street1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.street2)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.county)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.street1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.street2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AddressID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AddressID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AddressID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
