@model IEnumerable<src.Models.Stop>

@{
    ViewData["Title"] = "Stops";
}

<div class="row row-header">
    <h2>@ViewData["Title"]</h2>
    <div class="ml-auto">
        <a class="btn btn-success" asp-action="Create">Create New</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitude)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StopID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StopID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StopID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
