<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - src</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@Constants.BusCompany</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Routes" asp-action="Index">Routes</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Lines" asp-action="Index">Lines</a></li>
                    @if(User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Addresses" asp-action="Index">Addresses</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Favourites" asp-action="Index">Favourites</a></li>
                    }
                    @if(User.IsInRole("Manager") || User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="RouteStops" asp-action="Index">Routes and Stops</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Stops" asp-action="Index">Stops</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Staff" asp-action="Index">Staff</a></li>
                    }
                    @if(User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Users Admin</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="RoleAdmin" asp-action="Index">Roles Admin</a></li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - @Constants.BusCompany</p>
        </footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
