@model src.Models.Staff

@{
    ViewData["Title"] = "Staff";
}

<h2>Details</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ownerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ownerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hoursContracted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hoursContracted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.accountNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.accountNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sortCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sortCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nationalInsuranceNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nationalInsuranceNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
