@model src.Models.Favourite

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Favourite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Line)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Line.LineID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.route)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.route.RouteID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FavouriteID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
