@using Microsoft.AspNetCore.Identity
@model IEnumerable<src.Models.Favourite>
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Favourites";
}

<div class="row row-header">
    <h2>@ViewData["Title"]</h2>
    <div class="ml-auto">
        <a class="btn btn-success" asp-action="Create">Create New</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Line)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.route)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if(item.ApplicationUser.UserName.Equals(UserManager.GetUserName(User))){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Line.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.route.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FavouriteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FavouriteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FavouriteID">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
