@model IEnumerable<src.Models.Line>

@{
    ViewData["Title"] = "Lines";
}

<div class="row row-header">
    <h2>@ViewData["Title"]</h2>
    <div class="ml-auto">
        <form asp-action="Index" method="get" class="form-inline mr-2" style="display: inline-block">
            <div class="form-group">
                <input class="form-control mx-sm-3" type="text" name="SearchString" placeholder="Search lines..." value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
        @if(User.IsInRole("Manager") || User.IsInRole("Admin"))
        {
            <a class="btn btn-success" asp-action="Create">Create New</a>
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">
                        @Html.DisplayNameFor(model => model.Name)
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["StartSortParam"]">
                        @Html.DisplayNameFor(model => model.Start)
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["EndSortParam"]">
                        @Html.DisplayNameFor(model => model.End)
                    </a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @if(User.IsInRole("Manager") || User.IsInRole("Admin")){
                <a asp-action="Edit" asp-route-id="@item.LineID">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.LineID">Delete</a>
                }
                <a asp-action="Details" asp-route-id="@item.LineID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
