@model src.Models.RouteStop

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>RouteStop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Route.RouteID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stop)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stop.StopID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RouteStopID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
