@model IEnumerable<src.Models.RouteStop>

@{
    ViewData["Title"] = "Route-Stop Links";
}


<div class="row row-header">
    <h2>@ViewData["Title"]</h2>
    <div class="ml-auto">
        @if(User.IsInRole("Manager") || User.IsInRole("Admin"))
        {
            <a class="btn btn-success" asp-action="Create">Create New</a>
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Route)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stop.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RouteStopID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RouteStopID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RouteStopID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
