@model IEnumerable<src.Models.Line>

@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at dolor et mauris pulvinar.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="buckinghamshire-list" data-toggle="list" href="#buckinghamshire" role="tab" aria-controls="buckinghamshire">Buckinghamshire</a>
            <a class="list-group-item list-group-item-action" id="wiltshire-list" data-toggle="list" href="#wiltshire" role="tab" aria-controls="wiltshire">Wiltshire</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="buckinghamshire" role="tabpanel" aria-labelledby="buckinghamshire-list">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Start)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.End)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Start)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.End)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="wiltshire" role="tabpanel" aria-labelledby="wiltshire-list">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Start)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.End)
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
